## Import Libraries

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

In [20]:
pip install mlflow

Collecting mlflowNote: you may need to restart the kernel to use updated packages.

  Downloading mlflow-2.3.1-py3-none-any.whl (17.7 MB)
     -------------------------------------- 17.7/17.7 MB 284.9 kB/s eta 0:00:00
Requirement already satisfied: click<9,>=7.0 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (8.0.4)
Requirement already satisfied: pytz<2024 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (2022.7)
Requirement already satisfied: scikit-learn<2 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (1.2.1)
Requirement already satisfied: Flask<3 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (2.2.2)
Collecting pyarrow<12,>=4.0.0
  Downloading pyarrow-11.0.0-cp310-cp310-win_amd64.whl (20.6 MB)
     ---------------------------------------- 20.6/20.6 MB 1.1 MB/s eta 0:00:00
Requirement already satisfied: matplotlib<4 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (3.7.0)
Collecting gitpython<4,>=2.1.0
  Using cached GitPython-3.1.31-py3-none-any.whl (184 kB)
Collecting docker<7,>=4.0.0
  Using cached docker-6.0.1-py3-none-any.whl (147 kB)
Requirement already satisfied: pandas<3 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (1.5.3)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (1.4.39)
Collecting alembic!=1.10.0,<2
  Downloading alembic-1.10.4-py3-none-any.whl (212 kB)
     ------------------------------------ 212.9/212.9 kB 810.5 kB/s eta 0:00:00
Requirement already satisfied: entrypoints<1 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (0.4)
Collecting protobuf<5,>=3.12.0
  Downloading protobuf-4.22.4-cp310-abi3-win_amd64.whl (420 kB)
     -------------------------------------- 420.6/420.6 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: Jinja2<4,>=3.0 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (3.1.2)
Requirement already satisfied: importlib-metadata!=4.7.0,<7,>=3.7.0 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (4.11.3)
Collecting querystring-parser<2
  Using cached querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Collecting sqlparse<1,>=0.4.0
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     -------------------------------------- 41.2/41.2 kB 332.7 kB/s eta 0:00:00
Collecting databricks-cli<1,>=0.8.7
  Using cached databricks-cli-0.17.6.tar.gz (82 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scipy<2 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (1.10.0)
Requirement already satisfied: requests<3,>=2.17.3 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (2.28.1)
Requirement already satisfied: cloudpickle<3 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (2.0.0)
Requirement already satisfied: packaging<24 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (22.0)
Requirement already satisfied: pyyaml<7,>=5.1 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (6.0)
Requirement already satisfied: markdown<4,>=3.3 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (3.4.1)
Collecting waitress<3
  Using cached waitress-2.1.2-py3-none-any.whl (57 kB)
Requirement already satisfied: numpy<2 in c:\users\abdul\anaconda3\lib\site-packages (from mlflow) (1.23.5)
Requirement already satisfied: typing-extensions>=4 in c:\users\abdul\anaconda3\lib\site-packages (from alembic!=1.10.0,<2->mlflow) (4.4.0)
Collecting Mako
  Using cached Mako-1.2.4-py3-none-any.whl (78 kB)
Requirement already satisfied: colorama in c:\users\abdul\anaconda3\lib\site-packages (from click<9,>=7.0->mlflow) (0.4.6)
Requirement already satisfied: pyjwt>=1.7.0 in c:\users\abdul\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (2.4.0)
Collecting oauthlib>=3.1.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     ------------------------------------ 151.7/151.7 kB 565.8 kB/s eta 0:00:00
Requirement already satisfied: tabulate>=0.7.7 in c:\users\abdul\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (0.8.10)
Requirement already satisfied: six>=1.10.0 in c:\users\abdul\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.16.0)
Requirement already satisfied: websocket-client>=0.32.0 in c:\users\abdul\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (0.58.0)
Requirement already satisfied: urllib3>=1.26.0 in c:\users\abdul\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (1.26.14)
Requirement already satisfied: pywin32>=304 in c:\users\abdul\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (305.1)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\abdul\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.0.1)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\abdul\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.2.2)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.10-py3-none-any.whl (62 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\abdul\anaconda3\lib\site-packages (from importlib-metadata!=4.7.0,<7,>=3.7.0->mlflow) (3.11.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\abdul\anaconda3\lib\site-packages (from Jinja2<4,>=3.0->mlflow) (2.1.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\abdul\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\abdul\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\abdul\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\abdul\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\abdul\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (9.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\abdul\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abdul\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (1.4.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abdul\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abdul\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\abdul\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2.0.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\abdul\anaconda3\lib\site-packages (from scikit-learn<2->mlflow) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abdul\anaconda3\lib\site-packages (from scikit-learn<2->mlflow) (2.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\abdul\anaconda3\lib\site-packages (from sqlalchemy<3,>=1.4.0->mlflow) (2.0.1)
Collecting smmap<6,>=3.0.1
  Using cached smmap-5.0.0-py3-none-any.whl (24 kB)
Building wheels for collected packages: databricks-cli
  Building wheel for databricks-cli (setup.py): started
  Building wheel for databricks-cli (setup.py): finished with status 'done'
  Created wheel for databricks-cli: filename=databricks_cli-0.17.6-py3-none-any.whl size=143246 sha256=8c62d4b262377b6ad63efce040077acff439d5b90426b11178ab650ba490715f
  Stored in directory: c:\users\abdul\appdata\local\pip\cache\wheels\a1\e6\15\14de2ae3f8fc0a3a648b13afc9e900801b4cfdcdd92edfa982
Successfully built databricks-cli
Installing collected packages: waitress, sqlparse, smmap, querystring-parser, pyarrow, protobuf, oauthlib, Mako, gitdb, docker, databricks-cli, alembic, gitpython, mlflow
Successfully installed Mako-1.2.4 alembic-1.10.4 databricks-cli-0.17.6 docker-6.0.1 gitdb-4.0.10 gitpython-3.1.31 mlflow-2.3.1 oauthlib-3.2.2 protobuf-4.22.4 pyarrow-11.0.0 querystring-parser-1.2.4 smmap-5.0.0 sqlparse-0.4.4 waitress-2.1.2

In [22]:
import mlflow

## Data Import & Preprocessing

In [17]:
#Data publicly available at: https://www.kaggle.com/datasets/zusmani/pakistans-largest-ecommerce-dataset
df = pd.read_csv('data.csv')
df = df.iloc[0:584524,0:21]
df

C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\1431668008.py:1: DtypeWarning: Columns (1,2,3,7,8,9,11,12,13,14,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204.0,cod,8/28/2018,WOFSCE5AE00357AECDE,699.0,1.0,849.0,100562385,Women's Fashion,NaN,...,cod,8/28/2018,Valid,699,2018.0,8.0,2018-8,8-2018,FY19,115320.0
584520,905205.0,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1.0,35899.0,100562386,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"35,599",2018.0,8.0,2018-8,8-2018,FY19,115326.0
584521,905206.0,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"259,998",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584522,905207.0,processing,8/28/2018,MATSAM5B1509B4696EA,87300.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"174,600",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584523,905208.0,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"217,280",2018.0,8.0,2018-7,8-2018,FY19,113474.0

In [3]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df

                       percent_missing
item_id                       0.000000
status                        0.002566
created_at                    0.000000
sku                           0.003422
price                         0.000000
qty_ordered                   0.000000
grand_total                   0.000000
increment_id                  0.000000
category_name_1               0.028057
sales_commission_code        23.467813
discount_amount               0.000000
payment_method                0.000000
Working Date                  0.000000
BI Status                     0.000000
 MV                           0.000000
Year                          0.000000
Month                         0.000000
Customer Since                0.001882
M-Y                           0.000000
FY                            0.000000
Customer ID                   0.001882

In [4]:
df = df.dropna(subset=['status', 'category_name_1', 'Customer Since', 'Customer ID'])
df

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204.0,cod,8/28/2018,WOFSCE5AE00357AECDE,699.0,1.0,849.0,100562385,Women's Fashion,NaN,...,cod,8/28/2018,Valid,699,2018.0,8.0,2018-8,8-2018,FY19,115320.0
584520,905205.0,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1.0,35899.0,100562386,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"35,599",2018.0,8.0,2018-8,8-2018,FY19,115326.0
584521,905206.0,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"259,998",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584522,905207.0,processing,8/28/2018,MATSAM5B1509B4696EA,87300.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"174,600",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584523,905208.0,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"217,280",2018.0,8.0,2018-7,8-2018,FY19,113474.0

In [5]:
df['Month'] = df['Month'].astype(int)

df.loc[df['Month'] == 9, 'Month Name'] = 'September' 
df.loc[df['Month'] == 8, 'Month Name'] = 'August' 
df.loc[df['Month'] == 7, 'Month Name'] = 'July' 
df.loc[df['Month'] == 6, 'Month Name'] = 'June' 
df.loc[df['Month'] == 5, 'Month Name'] = 'May' 
df.loc[df['Month'] == 4, 'Month Name'] = 'April' 
df.loc[df['Month'] == 3, 'Month Name'] = 'March' 
df.loc[df['Month'] == 2, 'Month Name'] = 'February' 
df.loc[df['Month'] == 1, 'Month Name'] = 'January' 
df.loc[df['Month'] == 12, 'Month Name'] = 'December' 
df.loc[df['Month'] == 11, 'Month Name'] = 'November' 
df.loc[df['Month'] == 10, 'Month Name'] = 'October'

C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\533235420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Month'].astype(int)
C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\533235420.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['Month'] == 9, 'Month Name'] = 'September'

In [6]:
df.loc[df['price'] <= 500 , 'Price Range'] = '< 500' 
df.loc[(df['price'] <= 1000) &  (df['price'] > 500), 'Price Range'] = '500 - 1000' 
df.loc[(df['price'] <= 1500) &  (df['price'] > 1000), 'Price Range'] = '1000 - 1500' 
df.loc[(df['price'] <= 2000) &  (df['price'] > 1500), 'Price Range'] = '1500 - 2000' 
df.loc[(df['price'] <= 3000) &  (df['price'] > 2000), 'Price Range'] = '2000 - 3000' 
df.loc[(df['price'] <= 4000) &  (df['price'] > 3000), 'Price Range'] = '3000 - 4000' 
df.loc[(df['price'] <= 5000) &  (df['price'] > 4000), 'Price Range'] = '4000 - 5000' 
df.loc[(df['price'] > 5000), 'Price Range'] = '5000 <'

C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\114233446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['price'] <= 500 , 'Price Range'] = '< 500'

In [7]:
df.loc[df['discount_amount'] <= 500 , 'discount_amount Range'] = '< 500' 
df.loc[(df['discount_amount'] <= 1000) &  (df['discount_amount'] > 500), 'discount_amount Range'] = '500 - 1000' 
df.loc[(df['discount_amount'] <= 1500) &  (df['discount_amount'] > 1000), 'discount_amount Range'] = '1000 - 1500' 
df.loc[(df['discount_amount'] <= 2000) &  (df['discount_amount'] > 1500), 'discount_amount Range'] = '1500 - 2000' 
df.loc[(df['discount_amount'] <= 3000) &  (df['discount_amount'] > 2000), 'discount_amount Range'] = '2000 - 3000' 
df.loc[(df['discount_amount'] > 3000), 'discount_amount Range'] = '3000 <'

C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\1534712906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['discount_amount'] <= 500 , 'discount_amount Range'] = '< 500'

In [8]:
df = df.drop(['sku', 'sales_commission_code'], axis=1)
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df

                       percent_missing
item_id                            0.0
status                             0.0
created_at                         0.0
price                              0.0
qty_ordered                        0.0
grand_total                        0.0
increment_id                       0.0
category_name_1                    0.0
discount_amount                    0.0
payment_method                     0.0
Working Date                       0.0
BI Status                          0.0
 MV                                0.0
Year                               0.0
Month                              0.0
Customer Since                     0.0
M-Y                                0.0
FY                                 0.0
Customer ID                        0.0
Month Name                         0.0
Price Range                        0.0
discount_amount Range              0.0

In [9]:
df

,item_id,status,created_at,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,...,MV,Year,Month,Customer Since,M-Y,FY,Customer ID,Month Name,Price Range,discount_amount Range
0,211131.0,complete,7/1/2016,1950.0,1.0,1950.0,100147443,Women's Fashion,0.0,cod,...,"1,950",2016.0,7,2016-7,7-2016,FY17,1.0,July,1500 - 2000,< 500
1,211133.0,canceled,7/1/2016,240.0,1.0,240.0,100147444,Beauty & Grooming,0.0,cod,...,240,2016.0,7,2016-7,7-2016,FY17,2.0,July,< 500,< 500
2,211134.0,canceled,7/1/2016,2450.0,1.0,2450.0,100147445,Women's Fashion,0.0,cod,...,"2,450",2016.0,7,2016-7,7-2016,FY17,3.0,July,2000 - 3000,< 500
3,211135.0,complete,7/1/2016,360.0,1.0,60.0,100147446,Beauty & Grooming,300.0,cod,...,360,2016.0,7,2016-7,7-2016,FY17,4.0,July,< 500,< 500
4,211136.0,order_refunded,7/1/2016,555.0,2.0,1110.0,100147447,Soghaat,0.0,cod,...,"1,110",2016.0,7,2016-7,7-2016,FY17,5.0,July,500 - 1000,< 500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204.0,cod,8/28/2018,699.0,1.0,849.0,100562385,Women's Fashion,0.0,cod,...,699,2018.0,8,2018-8,8-2018,FY19,115320.0,August,500 - 1000,< 500
584520,905205.0,processing,8/28/2018,35599.0,1.0,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,...,"35,599",2018.0,8,2018-8,8-2018,FY19,115326.0,August,5000 <,< 500
584521,905206.0,processing,8/28/2018,129999.0,2.0,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,...,"259,998",2018.0,8,2018-7,8-2018,FY19,113474.0,August,5000 <,< 500
584522,905207.0,processing,8/28/2018,87300.0,2.0,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,...,"174,600",2018.0,8,2018-7,8-2018,FY19,113474.0,August,5000 <,< 500
584523,905208.0,processing,8/28/2018,108640.0,2.0,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,...,"217,280",2018.0,8,2018-7,8-2018,FY19,113474.0,August,5000 <,< 500

In [10]:
df.columns

Index(['item_id', 'status', 'created_at', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1', 'discount_amount',
       'payment_method', 'Working Date', 'BI Status', ' MV ', 'Year', 'Month',
       'Customer Since', 'M-Y', 'FY', 'Customer ID', 'Month Name',
       'Price Range', 'discount_amount Range'],
      dtype='object')

In [11]:
ml = df[["status", "category_name_1", "payment_method", "qty_ordered", "BI Status", "Year", "Month Name", "Price Range", "discount_amount Range", "Customer ID"]]
ml

,status,category_name_1,payment_method,qty_ordered,BI Status,Year,Month Name,Price Range,discount_amount Range,Customer ID
0,complete,Women's Fashion,cod,1.0,#REF!,2016.0,July,1500 - 2000,< 500,1.0
1,canceled,Beauty & Grooming,cod,1.0,Gross,2016.0,July,< 500,< 500,2.0
2,canceled,Women's Fashion,cod,1.0,Gross,2016.0,July,2000 - 3000,< 500,3.0
3,complete,Beauty & Grooming,cod,1.0,Net,2016.0,July,< 500,< 500,4.0
4,order_refunded,Soghaat,cod,2.0,Valid,2016.0,July,500 - 1000,< 500,5.0
...,...,...,...,...,...,...,...,...,...,...
584519,cod,Women's Fashion,cod,1.0,Valid,2018.0,August,500 - 1000,< 500,115320.0
584520,processing,Mobiles & Tablets,bankalfalah,1.0,Gross,2018.0,August,5000 <,< 500,115326.0
584521,processing,Mobiles & Tablets,bankalfalah,2.0,Gross,2018.0,August,5000 <,< 500,113474.0
584522,processing,Mobiles & Tablets,bankalfalah,2.0,Gross,2018.0,August,5000 <,< 500,113474.0
584523,processing,Mobiles & Tablets,bankalfalah,2.0,Gross,2018.0,August,5000 <,< 500,113474.0

In [12]:
columns_to_encode = ["status", "category_name_1", "payment_method", "BI Status", "Year", "Month Name", "Price Range", "discount_amount Range"]

le = LabelEncoder()

for col in columns_to_encode:
    ml[col] = le.fit_transform(ml[col])

ml

C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\247643086.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml[col] = le.fit_transform(ml[col])
C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\247643086.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml[col] = le.fit_transform(ml[col])
C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\247643086.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml[col] = le.fit_transform(ml[col])
C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\247643086.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml[col] = le.fit_transform(ml[col])
C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\247643086.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml[col] = le.fit_transform(ml[col])
C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\247643086.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml[col] = le.fit_transform(ml[col])
C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\247643086.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml[col] = le.fit_transform(ml[col])
C:\Users\abdul\AppData\Local\Temp\ipykernel_14988\247643086.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml[col] = le.fit_transform(ml[col])

,status,category_name_1,payment_method,qty_ordered,BI Status,Year,Month Name,Price Range,discount_amount Range,Customer ID
0,4,14,6,1.0,0,0,5,1,5,1.0
1,1,1,6,1.0,1,0,5,7,5,2.0
2,1,14,6,1.0,1,0,5,2,5,3.0
3,4,1,6,1.0,2,0,5,7,5,4.0
4,8,12,6,2.0,3,0,5,5,5,5.0
...,...,...,...,...,...,...,...,...,...,...
584519,3,14,6,1.0,3,2,1,5,5,115320.0
584520,13,9,4,1.0,1,2,1,6,5,115326.0
584521,13,9,4,2.0,1,2,1,6,5,113474.0
584522,13,9,4,2.0,1,2,1,6,5,113474.0
584523,13,9,4,2.0,1,2,1,6,5,113474.0

In [14]:
temp = ml.drop(["status"], axis=1)
temp

,category_name_1,payment_method,qty_ordered,BI Status,Year,Month Name,Price Range,discount_amount Range,Customer ID
0,14,6,1.0,0,0,5,1,5,1.0
1,1,6,1.0,1,0,5,7,5,2.0
2,14,6,1.0,1,0,5,2,5,3.0
3,1,6,1.0,2,0,5,7,5,4.0
4,12,6,2.0,3,0,5,5,5,5.0
...,...,...,...,...,...,...,...,...,...
584519,14,6,1.0,3,2,1,5,5,115320.0
584520,9,4,1.0,1,2,1,6,5,115326.0
584521,9,4,2.0,1,2,1,6,5,113474.0
584522,9,4,2.0,1,2,1,6,5,113474.0
584523,9,4,2.0,1,2,1,6,5,113474.0

In [32]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = temp
y = ml["status"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

desc = "Decision Tree Classifier for Fake Order Prediction"

mlflow.set_experiment("Order Status Prediction")

with mlflow.start_run(run_name="dtcos", description=desc):
    dtc = DecisionTreeClassifier(random_state=42)
    dtc.fit(X_train, y_train)

    mlflow.log_params(dtc.get_params())
    mlflow.log_metric('train_accuracy', dtc.score(X_train, y_train))

    y_pred = dtc.predict(X_test)
    test_accuracy = accuracy_score(y_test, y_pred)

    mlflow.log_metric('test_accuracy', test_accuracy)

    mlflow.sklearn.log_model(dtc, 'model')

2023/05/05 11:13:55 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "C:\Users\abdul\anaconda3\lib\site-packages\mlflow\models\signature.py:137: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."

In [ ]:
!mlflow ui